parameters:
	ignoreErrors:
	    - '#Call to an undefined method object::getConnection\(\).#'
includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/phpstan/phpstan-mockery/extension.neon
	